*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Palanquin Dark', sans-serif;
}
nav a{

    padding: 10px 10px 30px;
    margin: 10px 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
nav a:hover{
    height: 20px;
    width: 20px;
    color: rgb(0, 195, 255);
}
nav{
    height: 70px;
    background-color: rgb(102, 35, 35);
    margin-top: 10px;
}
section{
    display: flex;
    margin-top: 20px;
}

.helf-width{
    width: 338px;
    height: 536px;
    float: left;
    padding-left: 10%;
}
.helf-width img{
    width: 70%;
    float: right;
    padding: 10px;
}
.color{
    color: rgb(184, 46, 184);
}
.btn-style{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    background-image: linear-gradient(orange, tomato) ;
}
.added-bg{
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 30px;
    background-size: 100%;
}

.title-cosmotaiz h1 {
    text-align: center;
}
.title-cosmotaiz p{
    width: 100%;
}
.card {
   box-shadow: 5px 5px 5px 5px gray;
   max-width: 300px;
   text-align: center;
   font-family: arial;
   border-radius: 15px;
   display: inline-block;
   margin: 10px;
   border: 20px solid white;
   margin-left: 30px;
   
  }
 .card-make{
     margin-left: 300px;
 }
 .social-item{
     margin: 50px;
     padding: 20px;
    
 }
.box-shadow{
    box-shadow: 20px 20px 20px 20px gray;
    padding: 5px;
    margin: 50px;
    border-radius: 15px;
    text-align: center;
}
.fotter{
    height: 150px;
    width: 100%;
    background-color: black;
   color: white;
   text-align: center;
   padding: 30px;
}
.social-item h1{
    align-items: center;
}
@media only screen and (max-width:650px){
    .card-make{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 2fr 1.5fr 1fr .6fr;
        grid-template-areas: "nav"
         "card";
    }
}
 
